{
  "database": {
    "host": "localhost",
    "user": "",
    "password": "",
    "port": 3306,
    "dbname": "ets2routes",
    "driver": "pdo_mysql"
  },
  "lang": "french",
  "mail": {
    "sender": "",
    "sendername": "",
    "administrator": ""
  },
  "modules": {
    "news": {
      "limitPerPage": 10
    }
  }
}
