{
  "database": {
    "host": "localhost",
    "user": "",
    "password": "",
    "port": 3306,
    "dbname": "ets2routes",
    "driver": "pdo_mysql"
  },
  "lang": "french",
  "mail": {
    "sender": "",
    "sendername": "",
    "administrator": ""
  },
  "rights": {
    "user": {
      "access": {
        "tr": "paramaters.rights.access",
        "code": 1
      },
      "administration": {
        "tr": "parameters.rights.admin",
        "code": 2
      }
    }
  },
  "modules": {
    "news": {
      "limitPerPage": 10
    }
  }
}
