{% extends '@App/Base/layout.html.twig' %}

{% block head_title %}Inscription{% endblock %}

{% block body %}
    <h1>Conditions Générales d'Utilisation</h1>

    <p>
        <b>ETS2Routes</b> est un site internet apportant un aspect plus réel et RolePlay du jeu <b>Euro Truck Simulator 2</b>.
        Le site n'est pas géré par <b>SCS Software</b>, ni affilié au développeur du jeu. Les noms et informations,
        proviennent du jeu et sont la propriétés de leurs auteurs respectifs.

        En vous inscrivant et utilisant ce site internet, vous vous engagez à respecter les présentes
        conditions d'utilisation du service et ce sans aucune réserve. En utilisant ce service, vous acceptez
        de respecter les lois en vigueurs dans le pays d'où vous accéder au site et de respecter les règles
        définies par les présentes conditions d'utilisation :

        <ul>
            <li>Pas d'insultes</li>
            <li>Pas de menaces</li>
            <li>Pas de piratage</li>
            <li>Respect des autres</li>
            <li>Pas d'incitation à la haine</li>
        </ul>
    </p>

    <p>
        <b>ETS2Routes</b> est un site réalisé par un fan du jeu et don le développement se fait sur le temps libre
        uniquement, il est donc normal qu'il puisse y avoir un délai entre une demande (bug etc.) et la mise en place.
        Pour toute suggestion de fonctionnalités ou rapport de bug, merci de vous rendre sur la page Facebook du projet
        ou de me contacter par e-mail via la saction <i>Contact</i> du site. Tout autre moyen de communication
        sera ignoré.
    </p>
{% endblock %}
